
Semana 03 - 09-10-2020/Base de Dados MNIST e CIFAR/Programa 40 - Base de Dados MNIST/.ipynb_checkpoints/Programa 40 - Base de Dados MNIST-checkpoint.ipynb
Semana 03 - 09-10-2020/Base de Dados MNIST e CIFAR/Programa 41 - Estrutura da Rede Neural/.ipynb_checkpoints/Programa 41 - Estrutura da Rede Neural-checkpoint.ipynb
Semana 03 - 09-10-2020/Base de Dados MNIST e CIFAR/Programa 42 - Melhorias na Rede Neural/.ipynb_checkpoints/Programa 42 - Melhorias na Rede Neural-checkpoint.ipynb
Semana 03 - 09-10-2020/Base de Dados MNIST e CIFAR/Programa 43 - Validação Cruzada/.ipynb_checkpoints/Programa 43 - Validação Cruzada-checkpoint.ipynb
Semana 03 - 09-10-2020/Curso Relâmpago Python/.ipynb_checkpoints/Parte 01 - Básico do Python-checkpoint.ipynb
Semana 03 - 09-10-2020/Curso Relâmpago Python/.ipynb_checkpoints/Parte 04 - Pacote Matplotlib-checkpoint.ipynb
Semana 03 - 09-10-2020/Curso Relâmpago Python/.ipynb_checkpoints/Parte 03 - Pacote Numpy-checkpoint.ipynb
Semana 03 - 09-10-2020/Curso Relâmpago Python/.ipynb_checkpoints/parte-02-python-particularidades-checkpoint.py
Semana 03 - 09-10-2020/Funções de Ativação/.ipynb_checkpoints/Programa 12 - Funções de Ativação-checkpoint.ipynb
Semana 03 - 09-10-2020/Imagens/.ipynb_checkpoints/regressao-linear-exemplo-checkpoint.png
Semana 03 - 09-10-2020/Regressão e Gradiente Descendente/.ipynb_checkpoints/gradiente-e-regressao-checkpoint.ipynb
Semana 03 - 09-10-2020/Regressão e Gradiente Descendente/.ipynb_checkpoints/gradiente-e-regressao-sklearn-checkpoint.ipynb
Semana 03 - 09-10-2020/Regressão e Gradiente Descendente/.ipynb_checkpoints/plano_saude-checkpoint.csv
Semana 03 - 09-10-2020/Base de Dados MNIST e CIFAR/Programa 44 - Aplicando Augumentation/.ipynb_checkpoints/Programa 44 - Aplicando Augumentation-checkpoint.ipynb
Semana 03 - 09-10-2020/Base de Dados MNIST e CIFAR/Programa 45 - Base de Dados CIFAR/.ipynb_checkpoints/Programa 45 - Base de Dados CIFAR-checkpoint.ipynb
semana17-05-02-2021/1-deteccao-objetos/.ipynb_checkpoints/yolo-model-checkpoint.ipynb
semana17-05-02-2021/2-reconhecimento-faces/.ipynb_checkpoints/face-recognition-checkpoint.ipynb
